<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	{{>head}}
	<title>Landing Page - Style 4 | Canvas</title>

</head>

<body class="stretched">
	<div  id="wrapper" class="clearfix">
			<div id="root"></div>
	</div>



 	{{>javascripts}}

</body>
</html>
