<!-- <!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	{{>head}}
	<title>Search Page - Style 4 | Canvas</title>

</head>

<body class="stretched">
	<div  id="wrapper" class="clearfix">
			<div id="root"></div>
	</div>



 	{{>javascripts}}

</body>
</html> -->

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    {{>head}}
    <title>Left side whatever</title>
  </head>

<body class="stretched side-header">

	<div id="wrapper" class="clearfix">

    <div id="root"></div>
	</div>

  {{>javascripts}}

</body>
</html>
